@*Author: Asia Carter*@
@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4> @Html.DisplayFor(model => model.Label)</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (Product product in Model.Products)
        {        
            <dd>                  
                <a asp-controller="Products" asp-route-id="@product.ProductId" asp-action="Details">@product.Title</a>
                <p>Quantity: @product.Quantity</p>
                <p>Price: @product.Price</p>
            </dd>
        }
    </dl>
</div>

