@*//Author: Asia Carter
View responsible for "Product Categories" Link in navigation bar. Displays product categories, count of products within each category and the first three products within each category*@
@model Bangazon.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<div>
    <h3>Product Categories</h3>


    @foreach (var item in Model.GroupedProducts)
    {
        <h4>
            <a asp-controller="ProductTypes" asp-action="Details" asp-route-id="@item.TypeId">
                @item.TypeName (Total Products: @item.ProductCount)
            </a>
        </h4>

        @foreach (var product in item.Products)
        {
            <ul>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                    @product.Title
                </a>
            </ul>
        }
    }
</div>

